
@{
    ViewBag.Title = "FAQ";
}
<br/>
<br/>
<br/>
<br/>
<!-- About-->

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">@ViewBag.Title</h2>
            <h3 class="section-subheading text-muted">New to the site? Let's get started.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>How do I book a time?</h4>
                        <h4 class="subheading">First: Create Account</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Find and click on 'Register' on the navigation bar. This will take you to a form to fill out your personal information for your account. Creating an account will allow you to: login, create members to book with, and also allow you to book a time with that member. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                        <h4 class="subheading">Second: Create Member</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">A 'Member' is what you use to book a time with. This can be a member of your band / project or anything you want. This is essentially a summary about your booking visit. You can include instruments or equipment you're brining. Include this in notes and be as specific as possible. Find and Click 'Members' on the navigation bar. Next, click 'Add Member'. After the information is filled out, click 'Create Member'. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4></h4>
                        <h4 class="subheading">Third: Create Studio Booking</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">First find and click on 'Bookings' on the navigation bar. This will show you you information about all of our studio spaces. You can choose a studio based on your needs. <em>i.e. If you're recording acoustic guitar, our studio 'Acousify' would be the best fit.</em><br />Next, find and click 'Book Now' on the studio you chose. From here you can create a time slot reservation.<br />Carefully select which 'Member' you want the studio session to be for. <em>i.e. The electric guitar player of your band for an electric guitar session.</em>  Then select the studio you want time at. Lastly pick a date, click 'Book Now' at the bottom and there you have it! You have now booked a time!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>What do I do when studio is booked full?</h4>
                        <h4 class="subheading">Get in touch with us</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Like your favoite barber our time can be fully booked for a particular date. Each studio we have under our umbrella has a reservation limit for the day. Do not fret! Cancellations happen all the time and if you want to be considered to fill a time slot for that cancellation send us an E-Mail! Find and click 'Contact' in the navigation bar to find the E-Mail form.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>My band / group switched members, what do I do?</h4>
                        <h4 class="subheading">Edit your members</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Band members can come and go and we want to get your records up to date. To edit the members in your profile, find and click 'Members'. Any member you have created in the past should be listed here. Click on the record that represents the member that has left your band and click the 'Edit' icon. From here you should be able to 'Deactivate' the member. Next, if a member has been <em>added</em> to the band / group, you'll need to create a new record for that member. See above about how to create a member. You can always go back and 'Reactivate' the members.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>While booking a time, why can't I find the member I'd like to book with?</h4>
                        <h4 class="subheading">Activate / Reactivate Member</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Not to fret! Find and click 'Members' on the navigation bar. Next find and click the member you'd like to book with. Find and click the 'Edit' icon, from here you want to 'Activate' the member by clicking the 'Active Musician?' check box. Click 'Save' and you will now be able to book with this member. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Content/assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Something came up, how do I cancel a reservation?</h4>
                        <h4 class="subheading">Get in touch with us</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Life happens! Trust us, we know! We have your back. You can always book again in the future. Follow these steps if you also just need to change the date of your booking. Find and click 'Contact' in the navigation bar. Fill out an E-Mail and describe your situation! We will get back to you promptly!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        <a style="color: white;"href="@Url.Action("Contact", "Home")">
                            Contact
                            <br />
                            Us With
                            <br />
                            Questions!
                        </a>
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

