
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=ReservationSystem;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ReservationSystemEntities" connectionString="metadata=res://*/ReservationSystem.csdl|res://*/ReservationSystem.ssdl|res://*/ReservationSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ReservationSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=db_a6e449_reservationsystem;User Id=db_a6e449_reservationsystem_admin;Password=!Withermothx9221" providerName="System.Data.SqlClient" />
    
    
    <add name="ReservationSystemEntities" connectionString="metadata=res://*/ReservationSystem.csdl|res://*/ReservationSystem.ssdl|res://*/ReservationSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5052.site4now.net;Initial Catalog=db_a6e449_reservationsystem;User Id=db_a6e449_reservationsystem_admin;Password=!Withermothx9221;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
